---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { extractImageUrl } from "../utils/image";
import AnimationCard from "./../animations/animationCards";
import "./../styles/animates.css";
import { motion } from "framer-motion";
const response = await fetch(
  "http://bluemotorsec.com/wp-json/wp/v2/motos?acf_format=standard",
);
const productos = await response.json();
---

<Layout title="Bluemotors - Inicio">
  <div
    class="lg:h-screen overflow-x-hidden flex flex-col lg:flex-row p-10 animate__animated animate__fadeInLeft"
    style="background-image: url('https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_STAGE_KTM-250-SX-Adamo-Edition-Stage_%23SALL_%23AEPI_%23V1.png'); background-position: center; background-size: cover; background-repeat: no-repeat;"
  >
    <div class="space-y-10 mt-80">
      <h1 class="text-white lg:text-[50px] text-3xl lg:w-2/3">
        ¡Siente el rugido, vive la pasión de las motos!
      </h1>

      <div>
        <button
          class="animate_animated animate__fadeInLeft
          bg-primary rounded-xl py-4 px-8 text-white text-center text-[20px] hover:opacity-70"
        >
          <a href="/tienda">Ver Tienda</a>
        </button>
      </div>
    </div>
  </div>
  <div class="flex
    
    lg:flex-row
    justify-center
    gap-20
    lg:p-16">
    <div class="">
      <div class="my-[20px] lg:pl-8 pl-4">
        <p class="font-medium mb-[10px] text-white">TOP RATED PRODUCTS</p>
        <div class="h-[2px] w-[20%] rounded-xl bg-primary"></div>
      </div>
      <div class="animates grid grid-cols-3 gap-6">
        {
          productos.map((item, index) => {
            return (
              <ProductCard
                  details={item.acf.nombre}
                  price={item.acf.precio}
                  slug={item.slug}
                  description={item.acf.descripcion}
                  image={item.acf.imagen_1}
                  alt={item.modelo}
                  delay={index}
                  client:visible
                />
            );
          })
        }
      </div>
    </div>
      <!-- <div>
      <div class="my-[20px] lg:pl-8 pl-4">
        <p class="font-medium mb-[10px] text-white">SALE PRODUCTS</p>
        <div class="h-[2px] w-[20%] rounded-xl bg-primary"></div>
      </div>
      {
        productos.map((item, index) => (
          <ProductCard
            details={item.acf.nombre}
            slug={item.slug}
            price={item.acf.precio}
            description={item.acf.descripcion}
            image={item.acf.imagen_1}
            alt={item.modelo}
          />
        ))
      }
    </div> -->
    </div>
  </div>
</Layout>
