---
export const prerender = false;
import "../styles/main.css";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { extractImageUrl } from "../utils/image";
import "animate.css";
import Carousel from "../components/Carousel.astro";

const response = await fetch(
  "http://bluemotorsec.com/wp-json/wp/v2/motos?_fields=acf&acf_format=standard"
);
const productos = await response.json();
---

<Layout title="Bluemotors - Tienda">
  <div class="p-10">
    <h1 class="text-white lg:text-[50px] text-3xl font-sans lg:w-2/3">
      Encuentra tu moto favorita
    </h1>
  </div>

  <Carousel />

  <div
    class="flex
    flex-col
    lg:flex-row
    justify-center
    gap-20
    lg:p-16"
  >
    <div>
      <div class="my-[20px] lg:pl-8 pl-4">
        <p class="font-medium mb-[10px] text-white">TOP RATED PRODUCTS</p>
        <div class="h-[2px] w-[20%] rounded-xl bg-primary"></div>
      </div>
      <div>
        {
          productos.map((item, index) => {
            return (
              <ProductCard
                details={item.acf.nombre}
                price={item.acf.precio}
                id={item.id}
                description={item.acf.descripcion}
                image={item.acf.imagen_1}
                alt={item.modelo}
              />
            );
          })
        }
      </div>
    </div>

    <div>
      <div class="my-[20px] lg:pl-8 pl-4">
        <p class="font-medium mb-[10px] text-white">SALE PRODUCTS</p>
        <div class="h-[2px] w-[20%] rounded-xl bg-primary"></div>
      </div>
      {
        productos.map((item, index) => (
          <ProductCard
            details={item.acf.nombre}
            id={item.id}
            price={item.acf.precio}
            description={item.acf.descripcion}
            image={item.acf.imagen_1}
            alt={item.modelo}
          />
        ))
      }
    </div>
  </div>
</Layout>
