---
import data from "../data/data.json";
const { motorcycle } = Astro.props;
---

<div class="space-y-5">
  <h1 class="text-xl font-bold my-4">
    {data.detallesMotocicleta.modelo}
  </h1>
  <hr class="border-gray-700" />
  <div class="grid lg:grid-cols-2 lg:gap-12 grid-cols-1 gap-4">
    <img src={motorcycle.imagen_principal} alt="image" />
    <img src={motorcycle.imagen_2} alt="image" />
    <img src={motorcycle.imagen_3} alt="image" />
  </div>

  <!-- {
    data.detallesMotocicleta.rendimiento.map((rendimiento) => (
      <>
        <hr class="border-gray-700" />
        <h1 class="text-xl font-bold my-4">
          {data.detallesMotocicleta.modelo}, {rendimiento.carrera}
        </h1>
      </>
    ))
  } -->
  <!-- <video controls>
    <source src={data.detallesMotocicleta.video} type="video/mp4" />
  </video> -->
</div>
